.tutorials-container {
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.tutorials-heading {
  font-size: 54px;
  margin-left: 100px;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.tutorials-content {
  color: white;
  font-size: 18px;
  margin: auto;
  /* margin-left: 100px; */
  /* margin-top: 4px; */
}
.tutorials-content-container {
  width: 70%;
  margin: 0 auto;
  border: solid white;
  padding: 1.5em;
  border-radius: 50px 0px 50px 0px;
}
